@font-face {
    font-family: 'MaisonNeue-Light';
    src: url('fonts/MaisonNeue-Light.ttf');
}
@font-face {
    font-family: 'MaisonNeue-Bold';
    src: url('fonts/MaisonNeue-Bold.ttf');
}
body {
    padding: 10px;
}

body, table {
    font-family: "MaisonNeue-Light", Verdana, "Times New Roman", Arial, sans-sarif;
    font-size: 10pt;
}

h2 {
    color: #000050;
    font-family: "MaisonNeue-Bold";
    font-size: 1.4em;
    line-height: 1.5em;
}

.ptext {
    
    font-size: 2.5em;
    
}

.td-text {
    
    font-size: 2.8em;
    
}

.primary-text {
    
    font-size: 1.8em;
    
}

.table-text{
    
    font-size: 1.5em;
}

.li-font{
    
    margin-left: 5px;
}

h3 {
    color: #000050;
    font-family: "MaisonNeue-Bold";
    font-size: 1.2em;
}

p, li, td {
    font-size: 1.2em;
    line-height: 1.5em;
}


a {
    color: #01A5F0;
    text-decoration: none;
}

ul {
    margin-left:0px;
    -webkit-margin-before: 5px;
    -webkit-padding-start: 18px;
}

li {
    margin-left: 0px;
    padding-left: 0px;
    padding-bottom: 5px;
}

hr {
    color:#dfdfdf;
    height:1px;
    line-height:0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.divider {
    height: 0; 
    border-top: 1px solid #dfdfdf; 
    margin: 0 5px 5px 0;
}

.container {
    width: 50%;
    float: left;
}

/* Bridges */
#signs {
    padding: 5px;
}

td {
    padding: 40px 10px 20px 0;
     vertical-align: top;
}

.td-padding {
    
    padding-left: 1em
}

.lightsContainer {
    margin-bottom: 10px;
    width: 100%;
    height: 100px;
    float: left;
}

.lightsImage {
    width: 100px;
    float: left;
}

.lightDescription img {
    top:0;
    bottom:0;
    margin:auto;
}

.lightsDescription {
    width: 160px;
    float: left;
}

.lightDescription p {
    margin-top: 0;
}

.brigeDescription {
    width: 140px;
    float: left;
}

.brigeDescription p {
    margin-top: 0;
    margin-left: 10px;
}



table.fixed { table-layout:fixed; }
table.fixed td { overflow: hidden; }
